<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Our all posts</h1>
    {% comment %} {% for post in posts %} {% endcomment %}
    {% for post in posts %}
        <h2>{{post.title}}</h2>
        <p>{{post.desc}}</p>
        <small>{{post.publish_date}}</small>
    {% endfor %}
    
<div>
    <h3>starting item on currnet page:-{{posts.start_index}}</h3> <br>
    {{posts.number}} out of {{posts.paginator.num_pages}}<br>
    <span>
        {% if posts.has_previous %}     <!--isme humare pages honge 1-4 -->
            <a href="?page={{posts.previous_page_number}}">Previous</a>
        {% endif %}
        &nbsp;
        {% if posts.has_next %}
            <a href="?page={{posts.next_page_number}}">Next</a>
        {% endif %}
    </span>
</div>
</body>
</html>