{% extends 'core/base.html' %}
{% block content %}

<style>
    
</style>

<div class='container mt-5'>
    <h1 class='text-warning mb-5 border-bottom'>CONTACT</h1>

    <CENTER class='text-white mb-5'>Do you have any questions? Please do not hesitate to contact.I will come back to you within a matter of hours to help you.</CENTER>


    <section class="contact-wrap">
        <form action="" class="contact-form">
          <div class="col-sm-6">
            <div class="input-block">
              <label for="" class='text-warning'>First Name</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="input-block">
              <label for=""class='text-warning'>Last Name</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-sm-12">
            <div class="input-block">
              <label for="" class='text-warning'>Email</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-sm-12">
            <div class="input-block">
              <label for="" class='text-warning'>Message Subject</label>
              <input type="text" class="form-control">
            </div>
          </div>
          <div class="col-sm-12">
            <div class="input-block textarea">
              <label for="" class='text-warning'>Drop your message here</label>
              <textarea rows="3" type="text" class="form-control"></textarea>
            </div>
          </div>
          <div class="col-sm-12">
            <button class="square-button text-warning">Send</button>
          </div>
        </form>
      </section>
</div>
{% endblock content%}