<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>THis is home page.</h1>
    <hr>
    <h2>Students Details</h2>
    <table border = '2px'>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Roll</th>
            
        </tr>
    
    {% for st in student %}
    <tr>
    <td>{{st.id}}</td>
    <td>{{st.name}}</td>
    <td>{{st.roll}}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>