<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body{
            background-color:red;
        }
        .errorlist{
            color:white;
        }
        form{
            height:80%;
            width:100%;
            box-shadow:5px 5px 10px black;
        }
        .message{
            color: blue;
        }
    </style>
    <title>Profile</title>
</head>
<body>
    <center>
    <h1>This is Profile Page of {{name}}.</h1>
    <hr>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {% comment %} {{form.as_p}} {% endcomment %}
        {% for fm in form %}
            {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br><br>
        {% endfor %}
        <input type="submit" value="submit">
    </form>
    <hr>
    <form action="" method="post">
        {% csrf_token %}
    <a href="{% url 'signup' %}"><input type="button" value="Back to signup page"></a><br><br>
    <a href="{% url 'logout' %}"><input type="button" value="logout"></a><br><br>
    <a href="{% url 'changepass1' %}"><input type="button" value="Change password with old pass"></a><br><br>
    <a href="{% url 'changepass2' %}"><input type="button" value="Change password without old pass"></a><br><br>
    </form>
    {% if messages %}
        {% for message in messages %}
            <span class='errorlist'>{{message}}</span>
        {% endfor %}
    {% endif %}
</center>
</body>
</html>