<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'validator/css/style.css' %}">
</head>
<body>
    <h1>This is form..</h1>
    <hr>

    <center>
        <form action="" method="post" novalidate>
            {% csrf_token %}
            {{use.as_p}}
            <input type="submit" value="SUBMIT">
        </form>
    </center>
</body>
</html>