<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Here you can check all Students List</h1>
    
        <table border='2px'>
            <tr>
                <th>Name</th>
                <th>Option</th>
            </tr>
            {% for stu in students %}
            <tr>
                <td><a href="{% url 'update' stu.id %}">{{stu.name}}</a></td>
                <td><a href="{% url 'delete' stu.id %}">delete</a></td>
            </tr>
            {% endfor %}
        </table>
    
    <br>
    <a href="{% url 'home' %}"><input type="submit" value="Back to home"></a>
</body>
</html>