<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    {% block css %}
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    {% endblock css%}
</head>
<body>
    <nav>
        <ul>
            <li>Home</li>
            <li>About</li>
            <li>django</li>
        </ul>
    </nav>
    {% block content %}<h1>hola</h1>{% endblock content %}
</body>
</html>