<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
    <h1>This is default name template which we get by by ListView.</h1>
    <table>
        <tr>
            <th width='50px'>ID</th>
            <th width='250px'>NAME</th>
            <th width='100px'>ROLL</th>
            <th width='50px'>Course</th>
        </tr>
    
    {% for stu in students %}
    <tr>
        <td><center>{{stu.id}}</center></td>
        <td><center><a href="{% url 'details' stu.id %}">{{stu.name}}</a></center></td>
        <td><center>{{stu.roll}}</center></td>
        <td><center>{{stu.course}}</center></td>
    </tr>
    {% endfor %}
    </table>
</center>
    <hr>
</body>
</html>