{% extends "core/base.html" %}
{% block content %}
    <div class='container mt-5'>
        <h1 class='text-warning mb-5 border-bottom'>Services</h1>

        <div class="row text-center mb-5 text-white">
            <div class="col-sm-4">
                <i class="fa-solid fa-magnifying-glass-dollar fa-2x mb-3  i-color"></i>
                <h3>seo</h3>
                <p class='ss-color mb-5'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, nemo.</p>
            </div>

            <div class="col-sm-4">
                <i class="fa-solid fa-palette fa-2x mb-3 i-color"></i>
                <h3>Web Design</h3>
                <p class='ss-color mb-5'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, nemo.</p>
            </div>

            <div class="col-sm-4">
                <i class="fa-solid fa-code fa-2x mb-3 i-color"></i>
                <h3>Web Development</h3>
                <p class='ss-color  mb-5'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, nemo.</p>
            </div>



            <div class="row text-center mb-5 text-white">
                <div class="col-sm-4">
                    <i class="fab fa-android fa-2x mb-3  i-color"></i>
                    <h3>Android</h3>
                    <p class='ss-color mb-5'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, nemo.</p>
                </div>
    
                <div class="col-sm-4">
                    <i class="fab fa-apple fa-2x mb-3 i-color"></i>
                    <h3>iOS</h3>
                    <p class='ss-color'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, nemo.</p>
                </div>
    
                <div class="col-sm-4">
                    <i class="fa-solid fa-ad fa-2x mb-3 i-color"></i>
                    <h3>Advertising</h3>
                    <p class='ss-color'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, nemo.</p>
                </div>

                <div class="row text-center mb-5 text-white">
                    <div class="col-sm-4">
                        <i class="fa-solid fa-pencil-alt fa-2x mb-3  i-color"></i>
                        <h3>Logo Design</h3>
                        <p class='ss-color'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, nemo.</p>
                    </div>
        
                    <div class="col-sm-4">
                        <i class="fa-solid fa-database fa-2x mb-3 i-color"></i>
                        <h3>Hosting</h3>
                        <p class='ss-color'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, nemo.</p>
                    </div>
        
                    <div class="col-sm-4">
                        <i class="fa-solid fa-headset fa-2x mb-3 i-color"></i>
                        <h3>Support</h3>
                        <p class='ss-color'>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, nemo.</p>
                    </div>

        </div>
    </div>
{% endblock content %}