<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'mysite/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'mysite/css/style.css' %}">
    <title>My site</title>
</head>
<body class="bg-secondary">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a href="#" class="navbar-brand">My Site</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a href="#" class="nav-link">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a href="/about/" class="nav-link">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Courses</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a href="#" class="dropdown-item">Python</a>
                        <a href="#" class="dropdown-item">Django</a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">Java</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-5 text-center">
        <h1 class="text-white">Site under construction</h1>
    </div>

    <script src="{% static 'mysite/js/jquery.js' %}"></script>
    <script src="{% static 'mysite/js/popper.js' %}"></script>
    <script src="{% static 'mysite/js/bootstrap.js' %}"></script>
</body>
</html>
