{% extends 'blog/base.html' %}

{% block content %}
    <div class="col-sm-10">
        <h3 class="text-white my-5">About Page</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi quod voluptas sapiente similique
             in possimus perspiciatis illum, commodi voluptatum, voluptatibus earum, mollitia repellat velit
              amet adipisci dolores animi neque odio?Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
              Itaque nulla molestiae sint, quidem magni necessitatibus aspernatur dicta excepturi explicabo? 
              Vel adipisci eveniet quo libero laborum neque ipsum inventore, ex saepe.</p>
    </div>
{% endblock content %}