<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: red;
            }
    </style>
</head>
<body>
    <center:"center"><h1>hello my dear friends in this project we will learn how to combine our two approache
        of templates
    </h1>
    <h1>this is our course main page</h1>
    <ol>
    <h2>{% for keys,values in doc.items %}</h2>
    <li>your <b>{{keys}} = {{values}}</b></li>
    {% endfor %}
    </ol>
</body>
</html>