<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'enroll/css/style.css' %}">
</head>
<body>
    <h1>This is form..</h1>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {{forms.non_field_errors}}
        {% for fields in forms %}
        <div>
        {% comment %} {{fields.label_tag}}{{fields}}<span class='errorlist'>{{fields.errors|striptags}}</span> {% endcomment %}
        {{fields.label_tag}}{{fields}}
        {% for error in fields.errors %}
        <span class='errorlist'>{{error}}</span>
        {% endfor %}
        </div>
        {% endfor %}
        <input type="submit" value="SUBmit">
    </form>

    <hr>

    <h2>2nd form</h2>
</body>
</html>