<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
            .form{
                height:400px;
                width:450px;
                box-shadow:5px 5px 10px red;
            }

            .success{
                color: green;
            }

            .info{
                color:blue;
            }

            .error{
                color:red;
            }
    </style>
    <title>Document</title>
</head>
<body>
    <center>
        <h1>This is Form page created by default python UserCreationForm</h1>
        <hr>
        <form action="" class='form' method="post" novalidate>
            {% csrf_token %}
            {% for fm in form %}
        {{fm.label_tag}}{{fm}} <span class="error">{{fm.errors|striptags}}</span> <br><br><br>
        {% endfor %}
        <input type="submit" value="submit">
        </form>
        {% if messages %}
            {% for message in messages %}
                <span {% if message.tags %} class='{{message.tags}}' {% endif %}>
                    {{message}} <br>

                </span>
                
            {% endfor %}
        
        {% endif %}
    </center>
</body>
</html>