<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
    <h1>This is User Signup form</h1>
    <hr>
    <form action="" method="post" novalidate >
        {% csrf_token %}
        {% for fm in form %}
            {{ fm.label_tag }}{{fm}}{{fm.errors|striptags}} <br><br>
        {% endfor %}
        <input type="submit" value="SUBMIT">
    </form>
    {% if messages %}
        {% for message in messages %}
            {{message}} <br><br>
        {% endfor %}
    {% endif %}
    <br><br>
    <a href="{% url 'login' %}"><input type="button" value="GO to login Page"></a>
</center>
</body>
</html>