{% extends 'core/base.html' %}


{% block content %}
<div class='container mt-5'>
    <h1 class='text-warning mb-5 border-bottom'>SKILLS</h1>
    <div class="row textxt-white">
        <div class="col-sm-5">
            <h3 class='text-white mt-5'>HTML/CSS</h3>
            <div class="progress">
                <div class="progress-bar bg-danger" role='progressbar' style ='width:100%' aria-valuenow='100' aria-valuemin='0'
                aria-valuemax='100'>100</div>
            </div>
        </div>

        <div class="col-sm-5 offset-sm-2">
            <h3 class='text-white mt-5'>JAVASCRIPT</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role='progressbar' 
                style ='width:50%' aria-valuenow='95' aria-valuemin='0'
                aria-valuemax='100'>50</div>
            </div>
        </div>

        <div class="col-sm-5">
            <h3 class='text-white mt-5'>JAVA LANGUAGE</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role='progressbar' style ='width:25%' aria-valuenow='100' aria-valuemin='0'
                aria-valuemax='100'>25</div>
            </div>
        </div>

        <div class="col-sm-5 offset-sm-2">
            <h3 class='text-white mt-5 '>PYTHON</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role='progressbar' style ='width:85%' aria-valuenow='100' aria-valuemin='0'
                aria-valuemax='100'>85</div>
            </div>
        </div>

        <div class="col-sm-5">
            <h3 class='text-white mt-5'>DJANGO</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role='progressbar' style ='width:65%' aria-valuenow='100' aria-valuemin='0'
                aria-valuemax='100'>65</div>
            </div>
        </div>

        <div class="col-sm-5 offset-sm-2">
            <h3 class='text-white mt-5'>FRONT-END</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role='progressbar' style ='width:55%' aria-valuenow='100' aria-valuemin='0'
                aria-valuemax='100'>55</div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}